{
  "extends": "oclif",
  "rules": {
    "semi": ["error", "always"],
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "double"],
    "max-params": ["error", 5],
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"]
  }
}
